.container_ {
	margin: 5px auto;
	padding: 5px;
	width: 900px;
	background-color: #fff;
}
.container_ h6,.container_ span,.newPos {
	font-size: 14px;
}
.container_ h6 {
	display: inline-block;
	margin: 0 50px 0 5px;
	width: 80px;
	font-weight: 500;
}
h6:hover {
	text-decoration: underline;
}
.container_ li {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 880px;
	height: 30px;
	border-bottom: 1px solid #ccc;
}
.container_ li:hover {
	background-color: #fff1e6;
}
.container_ .time,.container_ .state {
	margin-right: 50px;
}
.container_ button{
	margin-left: 10px;
}
.newPos {
	margin-left: 800px;
	width: 100px;
	height: 30px;
}
.selectAll {
	margin-left: 15px;
}
.title_ {
	margin-left: -800px;
}
.time_ {
	margin-left: 100px;
}
.state_ {
	margin-left: 120px;
}
.operate_ {
	margin-left: 70px;
}
.publishState {
	color:#42ed79;
}