.textInput1,.textInput2,.textInput4 {
	margin-bottom: 5px;
	border: none;
}
.textInput1 {
	margin-left: -400px;
	width: 30px;
}
.textInput3Wrap {
	margin-top: -25px;
}
.radioInput,.checkboxInput {
	margin-left: -350px;
}
.radioInput1, .checkboxInput1 {
	border: none;
}
textarea {
	margin-left: -280px;
	width: 300px;
}
/*机智如我*/
textarea,.textInput1,.textInput2,.textInput3,.textInput4,.radioInput1,.checkboxInput1 {
	background-color: transparent;
} 
.delWrap,.addInput,.delInput {
	visibility: hidden;
	font-size: 13px;
}
.delWrap {
	margin-top: -15px;
	margin-left: 300px;
}
.delWrap span {
	margin-left: 10px;
}
.delWrap span:hover,.addInput:hover,.delInput:hover {
	text-decoration: underline;
}
.addInput {
	margin-top: -21px;
}