.container .container_ {
	margin: 10px auto;
	width: 800px;
	height: 600px;
	background-color: #fff;
	text-align: center;
	overflow: auto;
}
.container_ {
	padding-bottom: 5px;
}
.questionnaireTitle {
	width: 600px;
	height: 70px;
	border: none;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}
.questionnaireTitle:hover, .questionWrap:hover {
	background-color: #fff1e6;
}
.addQuestionContainer {
	margin: 0 auto;
	width: 700px;
	border-top: 2px solid #efeeec;
	border-bottom: 2px solid #efeeec;
}
.addQuestionBtn {
	margin: 5px auto;
	width: 600px;
	height: 70px;
	line-height: 70px;
	background-color: #efeeec;
}
.addQuestionBtnWrap {
	margin: 5px auto;
	width: 600px;
	border: 1px solid #dcdad6;
}
.calWrap {
	margin-top: -25px;
	margin-left: -280px;
}
.saveQuestionnaireBtn {
	margin-top: 20px;
	margin-left: 450px;
}
.publishQuestionnaireBtn {
	margin-top: 20px;
	margin-left: 20px;
}