html,body {
	width: 100%;
	height: 100%;
}
h2,div,footer,ul,li,html,body {
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei";
}
ul {
	list-style: none;
}
h2,footer {
	text-align: center;
}
h2 {
	color: #fff;
	background-color: #ff6900;
}
.container {
	/*background-color: blue;*/
}
.question {
	margin-bottom: 5px;
	/*background-color: red;*/
}
.required {
	color: red;
}
.num {
	margin-left: 5%;
}
.type {
	margin-left: 10%;
}
.q_content {
	font-size: 1.2rem;
}
textarea {
	margin-left: 5%;
	width: 90%;
	height:5rem;
	box-sizing: border-box;
}
button {
	width: 30%;
	height: 3rem;
}