.container_ {
	margin: 5px auto;
	padding: 5px;
	width: 900px;
	background-color: #fff;
}
.qContainer {
	margin-bottom: 10px;
	border-bottom: 2px solid #ccc;
	border-top: 2px solid #ccc;
}
.back {
	float: left;
	margin-left: 5px;
	font-size: 16px;
}
h1 {
	text-align: center;
}
h5 {
	margin-bottom: 5px;
}
.question_ {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid #ccc;
	overflow: hidden;
}
.question,.data {
	float: left;
	width: 400px;
}
.question li {
	margin-left: 10px;
}
.total {
	margin-bottom: 5px;
	width: 200px;
	height: 14px;
	border: 1px solid #ccc;
}
.part {
	height: 14px;
	background-color: #ff6900;
}
.numD {
	float: left;
	margin-top: -25px;
	margin-left: 210px;
}
.cContainer_ ,.circle {
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
.cContainer_ {
	background-color: black;
}
.cContainer {
	overflow: hidden;
	transform-origin: 100px 100px;
}
.circle100 {
	width: 100px;
	height: 100px;
}
.circle200 {
	width: 200px;
	height: 100px;
}
.margin100 {
	margin-top: -100px;
}