html,body,ul,li,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
header, button,div, h6,input,span {
	font-family: "Microsoft YaHei";
}
.container {
	margin: 0 auto;
	padding-bottom: 5px;
	width: 1000px;
	background-color: #f0efed;
}
header {
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #ff6900;
	font-size: 15px;
	text-indent: 75px;
}
ul {
	list-style: none;
}