.calHead {
	width: 522px;
	height: 30px;
	line-height: 30px;
	background: #c61b01;
}
.calHead:before, .calHead:after {
	color: #fff;
}
.calHead:before {
	content: "年";
	margin-left: 200px;
}
.calHead:after {
	content: "月";
	margin-left: 20px;
}
.leftArrow, .rightArrow {
	margin-top: 5px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.leftArrow {
	float: left;
	border-right: 10px solid #fff;
	border-left: 10px solid transparent;
}
.rightArrow {
	float: right;
	border-right: 10px solid transparent;
	border-left: 10px solid #fff;
}
.inputYear,.inputMonth {
	color: #fff;
	background-color: #c61b01;
	border: none;
	font-size: 16px;
}
.inputYear {
	width: 40px;
	margin-left: -60px;
}
.inputMonth {
	width: 20px;
	margin-left: 40px;
}
.cal {
	border: 1px solid #ccc;
	border-top: none;
}
.cal td {
	font-weight: 600;
	width: 70px;
	height: 70px;
	text-align: center;
}
.sCol {
	color: #c61b01;
}
.notCur {
	color: #ccc;
}
.active {
	color: #fff;
	background-color: #c61b01;
}