/*浮层组件*/
.layer, .layerTitle, .layerContent, .layer button {
	font-size: 14px;
}
.layerTitle, .layer button {
	background-color: #666;
}
.layer, .layer button {
	border: 2px solid #000;
}
.layer {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
	width: 300px;
	height: 200px;
	background-color: #fff;
	z-index: 3;
}
.layerTitle {
	padding-left: 5px;
	height: 30px;
	line-height: 30px;
	color:#fff;
}
.layerContent {
	padding: 5px;
}
.layer button {
	position: absolute;
	bottom: 5px;
	width: 60px;
	color: #fff;
}
.layerBtn1 {
	right: 69px;
}
.layerBtn2 {
	right: 5px;
}
.mask {
	position: fixed;
    top: 0; 
	left: 0;
	width: 100%; 
	height: 100%;
    background: #000;
    z-index: 2;
    opacity: 0.8;
    filter: alpha(opacity=80);
}